.react-multi-carousel-item--active.caroucel-banner-custome>div {
    padding: 0 !important;
}

.react-multi-carousel-item--active.caroucel-banner-custome>div>div>span {
    transition: all 0.5s ease-in-out;
    background: transparent !important;
}